<div class="row">
    <div class="col">
        <a href="" [routerLink]="['/home']">Home</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="" [routerLink]="['/about']">About</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="" [routerLink]="['/restaurants']">Restaurants</a>
    </div>
</div>
<div class="row" *ngFor="let cuisine of cuisines">
    <div class="col">
        <a href="" [routerLink]="['/restaurants', cuisine.toLowerCase()]">{{cuisine}}</a>
    </div>
</div>
